<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%- component.name %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/xcode.min.css"
    />
    <style>
      table {
        width: 100%;
        border: 1px solid #555;
        border-collapse: collapse;
        table-layout: fixed;
      }

      td {
        padding: 5px;
        border: 1px solid #555;
        overflow: hidden;
        background: #f0f0f0;
        word-wrap: break-word;
      }

      td:first-child {
        text-align: center;
        width: 395px;
      }
    </style>
    <script>
      hljs.initHighlightingOnLoad();

      function setMode(mode) {
        for (const element of document.getElementsByClassName("snapshot")) {
          element.srcset = element.srcset.replace(
            /__[a-z]*@/g,
            "__" + mode + "@"
          );
        }
      }
    </script>
  </head>

  <body>
    <a href="index.html">Index</a>
    <p>
      <a href="javascript:setMode('default')">Default (L)</a> |
      <a href="javascript:setMode('xs')">XS</a> |
      <a href="javascript:setMode('s')">XS</a> |
      <a href="javascript:setMode('m')">M</a> |
      <a href="javascript:setMode('xl')">XL</a> |
      <a href="javascript:setMode('xxl')">XXL</a> |
      <a href="javascript:setMode('xxxl')">XXXL</a> |
      <a href="javascript:setMode('am')">AM</a> |
      <a href="javascript:setMode('al')">AL</a> |
      <a href="javascript:setMode('axl')">AXL</a> |
      <a href="javascript:setMode('axxl')">AXXL</a> |
      <a href="javascript:setMode('axxxl')">AXXXL</a> |
      <a href="javascript:setMode('rtl')">Right-To-Left</a>
    </p>
    <h1><%- component.name %></h1>
    <h2>Stories</h2>
    <% component.stories.forEach(function(story){ _%>
    <h3><%- story.name %></h3>
    <table>
      <table>
        <tr>
          <td>
            <img
              class="snapshot"
              srcset="<%- `img/${component.name}/test_${story.name}__default@3x.png 3x ` %>"
            />
          </td>
          <td>
            <pre><code class="swift"><%- story.codeSnippet %></code></pre>
          </td>
        </tr>
      </table>
    </table>
    <% }); _%>
  </body>
</html>
